<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | HomeBanking</title>
    <link rel="shortcut icon" href="../images/2acd7a1377fa463e974c02cf00d52e75.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../Style/cards.css">
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
    <header>
        <div id="topbar" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="tel:+18005551234"> <span class="me-5"><i class="bi bi-telephone-fill"></i> +1 (800)
                                555-1234</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <span> 1234 Shingle Street, Roofville, RC 56789</span>
                    </div>
                    <div class="col-md-4 text-end">               
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar  navbar-expand-lg bg-body-tertiary py-3">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../images/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                    HomeBanking Brothers
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link" href="#">Cards</a>
                      <a class="nav-link" href="./accounts.html">Accounts</a>
                      <a class="nav-link" href="./transaction.html">Transaction</a>
                      <a class="nav-link" @click="logout()" href="/web/Index.html">Log out</a>
                    </div>
                </div>
            </div>
        </nav>
            <section id="carousel" class="carousel slide " data-bs-ride="carousel">
        <h2 class="position-absolute top-50 start-50 translate-middle z-3 fw-bold fs-1">Home</h2>
        <div class="carousel-inner">
            <div class="carousel-item ">
                <img src="../images/img6.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="City">
            </div>
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="../images/img7.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Sky">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="../images/img8.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Station">
            </div>
            <div class="carousel-item">
                <img src="../images/img9.jpg" class="object-fit-cover  w-100 " style="height: 20rem" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </section>
    </header>
    <main id="app">
        <div class="container mt-5">
            <h1 class="text-center">Your Cards</h1>
            <section v-if="cards.length < 6" class="col-md-4">
                <h2>Seleccione las opciones para Solicitar la tarjeta</h2>
                <form @submit.prevent="newCard()">
                    <div class="mb-3">
                        <label for="cardType" class="form-label">Tipo de Tarjeta</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cardType" id="debito" v-model="checkType" value="DEBIT">
                            <label class="form-check-label" for="debito">DEBITO</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cardType" id="credito" v-model="checkType" value="CREDIT">
                            <label class="form-check-label" for="credito">CREDITO</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cardColor" class="form-label">Color de Tarjeta</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cardColor" id="silver" v-model="checkColor" value="SILVER">
                            <label class="form-check-label" for="silver">Silver</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cardColor" id="gold" v-model="checkColor" value="GOLD">
                            <label class="form-check-label" for="gold">Gold</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="cardColor" id="Titanium" v-model="checkColor" value="TITANIUM">
                            <label class="form-check-label" for="Titanium">Titanium</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" :disabled="cards.length >= 6">SOLICITAR TARJETA</button>

                </form>
            </section>
            <div class="row">
                <div v-for="(card, index) in cards" :key="index" class="col-12 col-md-4">
                    <div :class="getCardClass(card.type)">
                        <!-- Estructura para mostrar una tarjeta -->
                        <h1 class="title">{{ card.type === 'DEBIT' ? 'DEBIT' : 'CREDIT' }} <img src="../images/5255074.png" width="30px" height="30px" alt="flecha"></h1>
                        <div :class="['card', card.type ? card.type.toLowerCase() : '', card.cardColor ? card.cardColor.toLowerCase() : '']">
                            <div class="card__front card__part">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <p class="card_numer" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">{{ card.number }}</p>
                                <div class="card__space-75">
                                    <img src="https://i.ibb.co/G9pDnYJ/chip.png" class="w-25" style="width: 1rem;">
                                    <span class="card__label" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">Card Holder</span>
                                    <p class="card__info" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">{{ card.cardHolder }}</p>
                                    
                                </div>
                                <div class="card__space-25">
                                    <span class="card__label" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">Expires</span>
                                    <p class="card__info" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">{{fromDate[index]}}</p>
                                    <img class="card__front-logo card__logo" src="../images/visa.png" alt="visa">
                                </div>
                            </div>
                            <div class="card__back card__part">
                                <div class="card__black-line"></div>
                                <div class="card__back-content">
                                    <div class="card__secret">
                                        <p class="card__secret--last" :style="card.type === 'DEBIT' ? 'color: #d50e0e;' : 'color: blue;'">{{ card.cvv }}</p>
                                    </div>
                                    <div class="color">
                                        <p class="card_color">{{ card.cardColor }}</p>
                                        <img class="card__front-square card__square" src="../images/924920.png">
                                        <img class="card__front-square card__square" src="../images/masterCard.png" alt="masterCard">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <nav class="bg-footer d-flex justify-content-between border rounded align-items-center">
            <ul class="nav">
                <li class="nav-item whatsapp">
                    <a class="nav-link" href="tel:34678567876">
                        <img src="../images/whatsapp.png" alt="whatsapp" width="35">        
                    </a>
                </li>
                <li class="nav-item facebook">
                    <a class="nav-link" href="amazingevents@hotmail.com">
                        <img src="../images/facebook.png" alt="facebook" width="35">
                    </a>
                </li>
                <li class="nav-item instagram">
                    <a class="nav-link" href="http://bit.ly/2U4iZNCzxcz">
                        <img src="../images/instagram.png" alt="instagram" width="35">
                    </a>
                </li>
            </ul>
            <section class="d-flex align-items-center mx-4">
                <h4 class="text-light">COHORT 49</h4>
                <a class="navbar-brand" href="https://mindhublab.com/">
                    <img src="../images/Insignia_JAVA-19.png" alt="Mindhub" width="60">
                </a>
            </section>
        </nav>
    </footer>       
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../scripts/cards.js"></script>  
</html> 
    
