<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/2acd7a1377fa463e974c02cf00d52e75.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Loan Application | MindHub Brothers</title>
</head>
<body>
    <header>
        <div id="topbar" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="tel:+18005551234"> <span class="me-5"><i class="bi bi-telephone-fill"></i> +1 (800)
                                555-1234</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <span> 123 Banking Street, Cityville, BC 56789</span>
                    </div>
                    <div class="col-md-4 text-end">              
                    </div> 
                </div>
            </div>
        </div>
            <!-- MENU START  -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <!-- NAV CONTAINER START -->
            <div class="container-fluid">
                
                <a href="#" class="navbar-brand  fw-semibold ms-5">
                    <img src="../images/logo.png" alt="Logo" width="30" height="30" >
                    Home Banking Brothers
                </a>
            <!-- NAV BUTTON  -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- OFFCANVAS MAIN CONTAINER START -->
            <section
                class="offcanvas offcanvas-start"
                id="menuLateral"
                tabindex="-1"
            >
                <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title text-info">Home Banking Brothers</h5>
                <button
                    class="btn-close"
                    type="button"
                    aria-label="Close"
                    data-bs-dismiss="offcanvas"
                ></button>
                </div>
                <!-- OFF CANVAS MENU LINKS  START-->
                <div
                class="offcanvas-body d-flex flex-column justify-content-between px-0"
                >
                <ul class="navbar-nav fs-5 justify-content-evenly">
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./cards.html">Cards</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./accounts.html">Accounts</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./transaction.html">Transaction</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" @click="logout()" href="/web/Index.html">Log out</a>
                    </li>
                </ul>
                </div>
            </section>
            <!-- OFFCANVAS MAIN CONTAINER END  -->
            </div>
        </nav>
        <section id="carousel" class="carousel slide " data-bs-ride="carousel">
            <h2 class="position-absolute top-50 start-50 translate-middle z-3 fw-bold fs-1"></h2>
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="../images/img6.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="City">
                </div>
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../images/img7.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Sky">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../images/img8.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Station">
                </div>
                <div class="carousel-item">
                    <img src="../images/img9.jpg" class="object-fit-cover  w-100 " style="height: 20rem" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </header>
    <main id="app">
        <section class=" container-transfer flex-column col-md-11">
            <h1 class="mb-5 mt-5 text-center">Ask for a loan</h1>
            <div class="form-transfer col-md-4">
                <section class=" mt-5">
                    <div class="form-check">
                        <label class="form-check-labe" for="selectbasic">Select Loan</label>
                        <div class="col-md-12">
                            <select id="selectbasic" name="selectbasic" class="form-control"
                                @change="filterLoansPayments" v-model="selectedLoan">
                                <template v-for="loan in loans">
                                    <option :value="loan.id">{{loan.name}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class=" form-check-label" for="selectbasic">Origin Account</label>
                        <div class="col-md-12">
                            <select id="selectbasic" name="selectbasic" class="form-control" v-model="numberOrigin">
                                <template v-for="account in accounts">
                                    <option :value="account.number">{{account.number}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <label class="col-md-4 control-label" for="amount">Amount</label>
                        <div class="col-md-12">
                            <input id="amount" name="amount" type="text" placeholder="$$$" class="form-control input-md"
                                required="" v-model="amount" />
                        </div>
                    </div>
                    <div class="form-check mb-5">
                        <label class="form-check-label" for="payments">Payments</label>
                        <div class="col-md-12">
                            <select id="payments" name="payments" class="form-control" v-model="payments">
                                <template v-for="payment in filterPayments.payments">
                                    <option :value="payment">{{payment}}</option>
                                </template>
                            </select>
                        </div>
                    </div>
                </section>
            </div>
            <div class="d-flex justify-content-center mt-4" >
                <button type="submit" @click="sendLoan">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" style="height: 3rem;"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z">
                        </path>
                    </svg>
                    Create Loan
                </button>
            </div>
        </section>     
    </main>
    <footer>
        <nav class="bg-footer d-flex justify-content-between border rounded align-items-center">
            <ul class="nav">
                <li class="nav-item whatsapp">
                    <a class="nav-link" href="tel:34678567876">
                        <img src="../images/whatsapp.png" alt="whatsapp" width="35">        
                    </a>
                </li>
                <li class="nav-item facebook">
                    <a class="nav-link" href="amazingevents@hotmail.com">
                        <img src="../images/facebook.png" alt="facebook" width="35">
                    </a>
                </li>
                <li class="nav-item instagram">
                    <a class="nav-link" href="http://bit.ly/2U4iZNCzxcz">
                        <img src="../images/instagram.png" alt="instagram" width="35">
                    </a>
                </li>
            </ul>
            <section class="d-flex align-items-center mx-4">
                <h4 class="text-light">COHORT 49</h4>
                <a class="navbar-brand" href="https://mindhublab.com/">
                    <img src="../images/Insignia_JAVA-19.png" alt="Mindhub" width="60">
                </a>
            </section>
        </nav>
    </footer>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../scripts/loans-applications.js"></script>
</body>
</html>