<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In | HomeBanking</title>
    <link rel="shortcut icon" href="../images/2acd7a1377fa463e974c02cf00d52e75.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../Style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
    <style>
    nav,
    .offcanvas {
      background-color: #1e293b;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
  
    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
    }
    </style>
<body>
    <header>
        <div id="topbar" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="tel:+18005551234"> <span class="me-5"><i class="bi bi-telephone-fill"></i> +1 (800)
                                555-1234</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <span> 123 Banking Street, Cityville, BC 56789</span>
                    </div>
                    <div class="col-md-4 text-end">              
                    </div> 
                </div>
            </div>
        </div>
            <!-- MENU START  -->
        <nav class="navbar navbar-expand-md navbar-dark" data-aos="fade-right">
            <!-- NAV CONTAINER START -->
            <div class="container-fluid">
                
                <a href="#" class="navbar-brand  fw-semibold ms-5">
                    <img src="../images/logo.png" alt="Logo" width="30" height="30" >
                    Home Banking Brothers
                </a>
    
            <!-- NAV BUTTON  -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- OFFCANVAS MAIN CONTAINER START -->
            <section
                class="offcanvas offcanvas-start"
                id="menuLateral"
                tabindex="-1"
            >
                <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title text-info">Home Banking Brothers</h5>
                <button
                    class="btn-close"
                    type="button"
                    aria-label="Close"
                    data-bs-dismiss="offcanvas"
                ></button>
                </div>
                <!-- OFF CANVAS MENU LINKS  START-->
                <div
                class="offcanvas-body d-flex flex-column justify-content-between px-0"
                >
                <ul class="navbar-nav fs-5 justify-content-evenly">
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link " href="/web/index.html">About us</a>
                    </li>
                </ul>
                </div>
            </section>
            <!-- OFFCANVAS MAIN CONTAINER END  -->
            </div>
        </nav>
        <section id="carousel" class="carousel slide " data-bs-ride="carousel">
            <h2 class="position-absolute top-50 start-50 translate-middle z-3 fw-bold fs-1"></h2>
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="../images/DigitalbankingCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="City">
                </div>
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../images/BankCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Sky">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../images/CardCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Station">
                </div>
                <div class="carousel-item">
                    <img src="../images/img9.jpg" class="object-fit-cover  w-100 " style="height: 20rem" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </header>
    <main id="app">
    <div class="text-center text-lg-start">
        <div class="container py-4">
          <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <div class="card cascading-right" style="
                  background: hsla(0, 0%, 100%, 0.55);
                  backdrop-filter: blur(30px);
                  ">
                <div class="card-body p-5 shadow-5 text-center">
                  <h2 class="fw-bold mb-5">Log In</h2>
                  <form @submit.prevent="login">
  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="email" class="form-control" v-model="email" />
                      <label class="form-label" aria-hidden="true" for="email">Email address</label>
                    </div>
      
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                      <input type="password" id="Password" v-model="password" class="form-control" />
                      <label class="form-label" aria-hidden="true" for="Password">Password</label>
                    </div>  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                      Log In
                    </button>
    
                  </form>
                </div>
              </div>
            </div>
      
            <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
                alt="" />
            </div>
          </div>
        </div>
    
    </div>

    </main>
    <footer>
        <nav class="bg-footer d-flex justify-content-between border rounded align-items-center">
            <ul class="nav">
                <li class="nav-item whatsapp">
                    <a class="nav-link" href="tel:34678567876">
                        <img src="../images/whatsapp.png" alt="whatsapp" width="35">        
                    </a>
                </li>
                <li class="nav-item facebook">
                    <a class="nav-link" href="amazingevents@hotmail.com">
                        <img src="../images/facebook.png" alt="facebook" width="35">
                    </a>
                </li>
                <li class="nav-item instagram">
                    <a class="nav-link" href="http://bit.ly/2U4iZNCzxcz">
                        <img src="../images/instagram.png" alt="instagram" width="35">
                    </a>
                </li>
            </ul>
            <section class="d-flex align-items-center mx-4">
                <h4 class="text-light">COHORT 49</h4>
                <a class="navbar-brand" href="https://mindhublab.com/">
                    <img src="../images/Insignia_JAVA-19.png" alt="Mindhub" width="60">
                </a>
            </section>
        </nav>
    </footer>  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
<script src="../scripts/index.js"></script> 
</html>