<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction | HomeBanking</title>
    <link rel="shortcut icon" href="../images/2acd7a1377fa463e974c02cf00d52e75.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://unpkg.com/transition-style">
    <link rel="stylesheet" href="../Style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
    <style>
    nav,
    .offcanvas {
      background-color: #1e293b;
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }
  
    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
    }
    </style>
<body>
    <header>
        <div id="topbar" class="">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="tel:+18005551234"> <span class="me-5"><i class="bi bi-telephone-fill"></i> +1 (800)
                                555-1234</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <span> 123 Banking Street, Cityville, BC 56789</span>
                    </div>
                    <div class="col-md-4 text-end">              
                    </div> 
                </div>
            </div>
        </div>
            <!-- MENU START  -->
        <nav class="navbar navbar-expand-lg navbar-dark" >
            <!-- NAV CONTAINER START -->
            <div class="container-fluid">
                
                <a href="#" class="navbar-brand  fw-semibold ms-5">
                    <img src="../images/logo.png" alt="Logo" width="30" height="30" >
                    Home Banking Brothers
                </a>
    
            <!-- NAV BUTTON  -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#menuLateral"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- OFFCANVAS MAIN CONTAINER START -->
            <section
                class="offcanvas offcanvas-start"
                id="menuLateral"
                tabindex="-1"
            >
                <div class="offcanvas-header" data-bs-theme="dark">
                <h5 class="offcanvas-title text-info">Home Banking Brothers</h5>
                <button
                    class="btn-close"
                    type="button"
                    aria-label="Close"
                    data-bs-dismiss="offcanvas"
                ></button>
                </div>
                <!-- OFF CANVAS MENU LINKS  START-->
                <div
                class="offcanvas-body d-flex flex-column justify-content-between px-0"
                >
                <ul class="navbar-nav fs-5 justify-content-evenly">
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./cards.html">Cards</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./accounts.html">Accounts</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" href="./transaction.html">Transaction</a>
                    </li>
                    <li class="nav-item p-3 py-md-1">
                        <a class="nav-link" @click="logout()" href="/web/Index.html">Log out</a>
                    </li>
                </ul>
                </div>
            </section>
            <!-- OFFCANVAS MAIN CONTAINER END  -->
            </div>
        </nav>
        <section id="carousel" class="carousel slide " data-bs-ride="carousel">
            <h2 class="position-absolute top-50 start-50 translate-middle z-3 fw-bold fs-1"></h2>
            <div class="carousel-inner">
                <div class="carousel-item ">
                    <img src="../images/DigitalbankingCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="City">
                </div>
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="../images/BankCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Sky">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../images/CardCarousel.jpg" class="object-fit-cover w-100" style="height: 20rem" alt="Station">
                </div>
                <div class="carousel-item">
                    <img src="../images/img9.jpg" class="object-fit-cover  w-100 " style="height: 20rem" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </header>
    <main id="app">
        <section class=" container-transfer flex-column col-md-11"transition-style="in:circle:bottom-right">
            <h1 class="mb-5 mt-5 text-center">Make your transactions</h1>
            <div class="form-transfer col-md-4">
                    <section class=" mt-2">
                        <h2>Destination:</h2>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" v-model="destination"
                                id="own" value="own" checked="checked">
                            <label class="form-check-label" for="own">
                                Own &#160
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" v-model="destination"
                                id="others" value="others">
                            <label class="form-check-label" for="others">
                                Others
                            </label>
                        </div>
                    </section>
                    <div class="signupFrm mb-1 d-flex flex-column align-items-center">
                        <label class="label-transfer" for="source">Source account</label>
                        <select name="own" id="own" v-model="originAccount"
                        class="form-select form-control w-75">
                        <option class="option-transfer" value="" disabled>select an account</option>
                        <template v-for="account of sourceAccount">
                            <option class="option-transfer" :value="account.number">{{account.number}}&#160 $
                                {{account.balance}}</option>
                        </template>
                        </select>
                    </div>
                    <template v-if="destination === 'others'">
                        <div class="signupFrm mb-1 d-flex flex-column align-items-center">
                            <label class="label-transfer" for="others">Destination account</label>
                            <input type="text" v-model="destinationAccount" name="others" id="others"
                                class="form-control w-75">
                        </div>
                    </template>
                    <template v-else>
                        <div class="signupFrm mb-1 d-flex flex-column align-items-center">
                            <label class="label-transfer" for="own">Destination account</label>
                            <select name="source" id="source" v-model="destinationAccount" class="form-select form-control w-75">
                                <option class="option-transfer" value="" disabled>select an account</option>
                                <template v-for="account of sourceAccount">
                                    <option class="option-transfer" :value="account.number">{{account.number}} </option>
                                </template>
                            </select>
                        </div>
                    </template>
                    <div class="signupFrm mb-1 d-flex flex-column align-items-center">
                        <label class="label-transfer" for="amount"><i class="bi bi-currency-dollar"></i>Amount</label>
                        <input type="number" v-model="amount" name="amount" id="amount" class="form-control w-75"
                            aria-label="Dollar amount (with dot and two decimal places)">
                    </div>
                    <div class="signupFrm mb-4 d-flex flex-column align-items-center">
                        <label class="label-transfer" for="description">Description</label>
                        <input type="text" v-model="description" name="description" id="description"
                            class="form-control w-75">
                    </div>
               
            </div>
            <div class="d-flex justify-content-center " >
                <button type="submit" @click="addTransaction" class="btn-create-acc btn-create-transfer" >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" style="height: 3rem;"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z">
                        </path>
                    </svg>
                    Create transfer
                </button>
            </div>
        </section>
    </main>
    <footer>
        <nav class="bg-footer d-flex justify-content-between border rounded align-items-center">
            <ul class="nav">
                <li class="nav-item whatsapp">
                    <a class="nav-link" href="tel:34678567876">
                        <img src="../images/whatsapp.png" alt="whatsapp" width="35">        
                    </a>
                </li>
                <li class="nav-item facebook">
                    <a class="nav-link" href="amazingevents@hotmail.com">
                        <img src="../images/facebook.png" alt="facebook" width="35">
                    </a>
                </li>
                <li class="nav-item instagram">
                    <a class="nav-link" href="http://bit.ly/2U4iZNCzxcz">
                        <img src="../images/instagram.png" alt="instagram" width="35">
                    </a>
                </li>
            </ul>
            <div class="copyright float-right" id="date">
                 made with <i class="material-icons">favorite</i> by
                <a href="https://github.com/iacastillo90?tab=repositories" target="_blank">Ivan Castillo</a> for a better web.
              </div>
            <section class="d-flex align-items-center mx-4">
                <h4 class="text-light">COHORT 49</h4>
                <a class="navbar-brand" href="https://mindhublab.com/">
                    <img src="../images/Insignia_JAVA-19.png" alt="Mindhub" width="60">
                </a>
            </section>
        </nav>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
<script src="../scripts/transaction.js"></script>
</html>